:root{
    --error-color:#ef5350;
    --border-color: #E0E1E4;
    --disable-color:#f4f5f8;
    --delete-color:#fef1f1;
    --danger-color:#e44b48;
    --warm-color:#fce100;
    --secondary-color:#7fa9f7;
    --secondary-focus-color:#538ffd;
    --danger-focus-color:#ec3531;
    --primary-color: #527bee;
    --primary-focus-color:#474fb9;
    --normal-color:#c2c2c2;
    --normal-focus-color: #b3afaf;
}

*{
    box-sizing: border-box;
}

body{
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding:0
}

p{
    margin: 0;
}
.modal{
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-col-gap8{
    column-gap: 8px;
}
.flex-col-gap12{
    column-gap: 12px;
}
.flex-col-gap5{
    column-gap: 5px;
}
.container{
    display: flex;
    margin-top: calc(56px + 16px);
    height: calc(100vh - 56px - 16px);
    overflow: hidden;
    
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
  }
::-webkit-scrollbar-thumb {
    background-color: #cdd3d6;
    border-radius: 2px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #6d6d6d;
}
::-webkit-scrollbar-corner {
    display: none;
  }
@font-face {
    font-family: roboto;
    src: url('../assets/font/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: roboto;
    src: url('../assets/font/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: roboto;
    src: url('../assets/font/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: roboto;
    src: url('../assets/font/Roboto-Italic.ttf');
    font-style: italic;
}
